.head {
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 1;
}

h3{
    font-size: 17pt;
    text-transform: uppercase;
}

sup {
    font-family: PPEditorial;
    font-weight: normal;
    font-style: normal;
}

.section {
    overflow: hidden;
}

.subContainer {
    position: absolute;
    top: 60px;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.subSection * {
    font-size: 10pt;
    top: 20px;
    text-transform: uppercase;
}

.subSection {
    cursor: pointer;
    height: 40px;
    border-bottom: none;
    padding: 10px 20px;
    z-index: 1;
    background-color: white;
    border-right: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);

    width: calc(100vw / 3);
    justify-content: center;
}

.slide .slideP,
.slide b, .slideP i, .slideP u {
    font-family: PPEditorial;
    font-weight: normal;
    font-style: normal;
    font-size: 17pt;
    line-height: 25pt;
    /* text-transform: capitalize; */
    text-decoration: none;
    margin-top: 40px;

}


.slide b {
    font-weight: normal;
    font-style: italic;
    letter-spacing: 0.7px;
    -webkit-text-stroke-width: 1.2px;
}
.slideP i {
    font-style: italic !important;
}

.slideP u{
    text-decoration: underline 2px solid var(--primary-color);
}


.fp-table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.fp-overflow {
    padding: 100px 240px 0 140px;
    
}

.credits {
    width: 200px;
    height: 200px;
    min-width: 0px;
    padding: 0;
    border: none !important;
    flex-wrap: wrap !important;
    align-content: flex-end;
}

.centerCont{
    display: inline-grid;
    justify-content: center;
}

.imgSq{
    padding: 10px !important;
    width: 50vw !important;
    margin-left: 50% !important;
    transform: translate(-50%);
    border: 1px solid;
    border-radius: 15px;
}

.roundTag p
{
    font-size: 12pt;
    height: 5px;
}

#doc-title{
display: none;
}