.card-columns,
.filter {
    padding: 70px 20px 100px 20px;
    max-width: none;
}

.card-columns {
    transition-delay: 500ms !important;
    /* column-count: 3; */
}

.filter {
    padding-right: 200px;
    flex-wrap: wrap;
    /* overflow: hidden; */
    gap: 20px;
    height: 100vh;
    overflow: scroll;
    padding-bottom: 140px;
    justify-content: flex-start;
    scroll-behavior: smooth;
    transition: all 500ms ease;
}

.card {
    padding: 20px;
    gap: 15px;
    isolation: isolate;
    min-width: 250px;
    height: auto;
    border: 2px solid var(--main-color);
    border-radius: 15px;

}

.cardHeader {
    align-content: space-between;
    width: 100%;
    height: 20px;
    justify-content: end;
}

.cardHeader p {
    text-transform: uppercase;
    font-size: 8pt;
    height: 0;
}

.card-content,
.prepText {
    font-family: PPEditorial;
    font-weight: lighter;
    font-style: normal;
    font-size: 14pt;
    line-height: auto;
}

.cardFooter {
    padding: 10px 0px 0px;
    gap: 5px;
    width: 100%;
    height: auto;
}


.recipe {
    border: 2px solid var(--main-color);
    max-width: 250px;
    width: 250px;
    height: fit-content;
}

.recipe:hover {
    transform: rotate(2deg);
    opacity: 1 !important;
}

.card-text {
    font-family: PPEditorial;
    font-weight: normal;
    font-style: normal;
    font-size: 20pt;
    line-height: 20pt;
    text-transform: capitalize;
    height: auto;
    margin-top: -50px;
    max-width: 160px;
}

.card-body h5 {
    font-family: PPNeueMachina;
    font-weight: normal;
    font-style: normal;
    font-size: 8pt;
    line-height: 8pt;
    text-transform: uppercase;
    color: var(--main-color);
    height: auto;
    padding: 10px 0;
}

.recipe-ingredient-title *,
.preptitle,
.nPercText,
.quote,
form label {
    width: 60px;
    font-family: PPEditorial;
    font-weight: normal;
    font-style: italic;
    font-size: 10pt;
    line-height: 10pt;
    text-transform: normal;
    height: 0;
}

.quote {
    height: auto;
    font-weight: light;
    font-style: normal;
    width: auto;
    line-height: 13pt;
    font-size: 12pt;
}

.nPercText {
    width: auto;
}

.preptitle {
    width: auto;
}

.recipe-ingredient-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%
}

.recipe-ingredient-title p{
    height: auto;
    /* margin-top: 50%; */
    transform: translateY(50%);
}

.statRec {
    height: 10px;
    width: calc(100% - 270px);
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    overflow: hidden;
}

.statRecActive {
    height: 100%;
    width: 0%;
    background-color: #dddddd;
    transition: all 1000ms ease;
}

.recipe-row0,
.recipe-row1,
.recipe-row2,
.recipe-row3,
.recipe-row4,
.recipe-row5,
.recipe-row6,
.recipe-row7,
.recipe-row8,
.recipe-row9,
.recipe-row10,
.recipe-row11,
.recipe-row12,
.recipe-row13,
.recipe-row14,
.recipe-row15,
.recipe-row16,
.recipe-row17,
.recipe-row18 {
    height: auto;
    padding: 10px 0;
    flex-wrap: wrap;
}

p.prepText,
.recipe-row4,
.recipe-row5,
.recipe-row6,
.recipe-row7,
.recipe-row8,
.recipe-row11,
.recipe-row12,
.recipe-row13,
.recipe-row14,
.recipe-row17 {
    padding: 10px 20px;
    column-gap: 5px;
    align-items: center;
    height: 50px;
}

.recipe-row13, .recipe-row14, .recipe-row17 {
    border-top: 0.5px solid var(--main-color);
    margin-top: 20px;
    padding-top: 20px;
}

.recipe-row11, .recipe-row12
{margin-top: -20px; margin-bottom: -10px;}

.recipe-row4 {
    margin-top: -50px;
}

#statImg {
    height: 90px;
    margin-top: -16px;
    margin-left: 25px;
}


.recipe-row7,
.recipe-row8,
.recipe-row11,
.recipe-row12 {
    justify-content: space-between;
    padding: 0 20px;
}

.recipe-row0 *,
.recipe-row1 *,
.recipe-row2 *,
.recipe-row3 *,
.recipe-row4 *,
.recipe-row5 * {
    gap: 5px;
    flex-wrap: nowrap;
}

.recipe-row4 * {
    background-color: var(--secondary-color);
}

.recipe-row6 *,
.recipe-row13 * {
    background-color: var(--primary-color);
}

.recipe-row9,
.recipe-row10 {
    width: calc(100% - 40px);
    justify-content: space-between;
    background-image: url(../assets/imgs/lines.svg);
    background-repeat: repeat-x;
    background-position: top;
    background-size: auto calc(100% - 48px);
    /* overflow-x: scroll; */
    margin: 0 20px 0 20px;
    padding: 0;
    flex-wrap: nowrap;
    gap: 10px;
}


.histogramTopic {
    width: 10px;
    order: 0;
    height: 0%;
    transition: all 1000ms ease;

}

.histogramDiv {
    display: flex;
    align-items: flex-end;
    height: calc(100% - 50px);
}




/* 
@media (max-width: 1200px) {
    .card-columns {
        column-count: 2;
    }
}

@media (max-width: 880px) {
    .card-columns {
        column-count: 1;
    }
} */

#archiveImgSide {
    position: absolute;
    width: 180px;
    bottom: 60px;
    right: 0px;
}


#archiveImgSide2 {
    position: absolute;
    width: 12vw;
    top: 50%;
    transform: translateY(-50%);
    right: 50%;
}

#filtriCustom {
    display: none;
    align-content: flex-start;
}

#filtriCustom .explAll{
    transform: translateY(0%);
}

#resetBtn {
    /* font-family: PPEditorial;
    font-weight: normal;
    font-style: italic;
    font-size: 10pt; */
    text-transform: capitalize;
    cursor: pointer;
}

#prepDiv {
    height: auto;
    min-height: 350px;
    width: 100%;
    order: 0;
    padding: 70px 0px 30px 0px;
    border-bottom: 1px solid;
    overflow: hidden;
    /* transition: all 1000ms ease; */
}

.prepText {
    width: 100%;
}

#all-cards {
    padding-top: 40px;
}

/* 
.newFooter {
    position: absolute;
    bottom: 0;
    background-color: white;
    transform: translateY(calc(100% - 35px));
    transition: all 1000ms ease;
}

.newFooter:hover {
    transform: translateY(0px)
} */


#productsSubhead {
    text-transform: lowercase;
    font-family: PPEditorial;
    font-weight: normal;
    font-style: italic;
}

.nOfR {
    gap: 5px;
}

.s p, .s img{
    font-size: 6pt;
    line-height: 12pt;
    max-height: 12px;
}

.s{
    height: 22px;
    padding: 5px 5px !important;
}

.explAll{
    background-color: black;
    padding: 5px 10px !important;
    transform: translateY(-30%);
    border: 1px solid white !important;
    height: 26px !important;
}

.explAll:hover{
    filter: invert();

}

.explAll *{
    font-size: 8pt !important;
    color: white !important;
    text-transform: capitalize !important;
    max-height: 14px;
    line-height: 14pt;
}

#recTextUx{
    width: 26px !important;
    height: 26px !important;
    cursor: pointer;
    padding: 0 !important;
}

#recTextUx img{
    width: 10px !important;
}