@font-face {
    font-family: PPEditorial;
    font-weight: normal;
    font-style: normal;
    src: url("../assets/font/PPEditorialNew-Regular.otf") format("opentype");
}

@font-face {
    font-family: PPEditorial;
    font-weight: normal;
    font-style: italic;
    src: url("../assets/font/PPEditorialNew-Italic.otf") format("opentype");
}

@font-face {
    font-family: PPEditorial;
    font-weight: bold;
    font-style: normal;
    src: url("../assets/font/PPEditorialNew-Ultrabold.otf") format("opentype");
}

@font-face {
    font-family: PPEditorial;
    font-weight: bold;
    font-style: italic;
    src: url("../assets/font/PPEditorialNew-UltraboldItalic.otf") format("opentype");
}

@font-face {
    font-family: PPEditorial;
    font-weight: light;
    font-style: normal;
    src: url("../assets/font/PPEditorialNew-Ultralight.otf") format("opentype");
}

@font-face {
    font-family: PPEditorial;
    font-weight: light;
    font-style: italic;
    src: url("../assets/font/PPEditorialNew-UltralightItalic.otf") format("opentype");
}

@font-face {
    font-family: PPNeueMachina;
    font-weight: light;
    font-style: normal;
    src: url("../assets/font/PPNeueMachina-InktrapLight.otf") format("opentype");
}

@font-face {
    font-family: PPNeueMachina;
    font-weight: normal;
    font-style: normal;
    src: url("../assets/font/PPNeueMachina-InktrapRegular.otf") format("opentype");
}

@font-face {
    font-family: PPNeueMachina;
    font-weight: bold;
    font-style: normal;
    src: url("../assets/font/PPNeueMachina-InktrapUltrabold.otf") format("opentype");
}

:root {
    --main-color: black;
    --primary-color: #85FF4D;
    --secondary-color: #E6BDFF;
    /* --disabled-color: #cccccc; */
}

/* ::selection */
mark {
    color: var(--main-color);
    background: var(--primary-color);
    font-family: PPEditorial;
    font-weight: light;
    font-style: normal;
    font-size: 14pt;
    line-height: auto;
    padding: 0px;
  }

* {
    font-family: PPNeueMachina;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    gap: 0;
    margin: 0;
    color: var(--main-color);
    text-decoration: none;
}

* :not(.nohover):hover, * :visited {
    text-decoration: none;
    color: var(--main-color);
}

body{
    overflow: hidden;
}

p.pageSelected, p.pageNotSelected:hover {
    font-family: PPEditorial;
    font-weight: normal;
    font-style: italic;
    font-size: 18pt;
    line-height: 17pt;
    text-transform: capitalize;
    text-decoration: none;
}

p.pageNotSelected {
    font-family: PPNeueMachina;
    font-weight: normal;
    font-style: normal;
    font-size: 14pt;
    text-transform: uppercase;
    text-decoration: none;
}

.flex-row,
.flex-column {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: none;
    align-self: stretch;
}

.flex-column {
    flex-direction: column;
}

.roundTag,
.squareTag {
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap !important;
    padding: 5px 10px;
    gap: 5px;
    background: white;
    border: 1px solid var(--main-color);
    border-radius: 60px;
    min-width: -webkit-fit-content;
    width: auto;
    height: auto;
    align-self: auto;
    font-size: 8pt;
    flex-wrap: nowrap;
    display: inline-flex;
}

.squareTag {
    border-radius: 5px;
}

.roundTag p,
.squareTag p {
    height: 0pt;
}

.container {
    display: inline-flex;
    max-width: 100%;
    padding: 0;
}

.head * {
    font-family: PPNeueMachina;
    font-weight: normal;
    font-style: normal;
    font-size: 14pt;
    text-transform: uppercase;
}


.head {
    flex: none;
    border-bottom: 2px solid var(--main-color);
    width: -webkit-fill-available;
    height: 60px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.col,
.col-md-auto {
    padding: 0;
    /* max-width: 300px; */
    width: 100%;
}

.col-md-auto {
    max-width: calc(100% - 300px);
    border-left: 2px solid var(--main-color);
    width: 0;
    height: 100vh;
    overflow: scroll;
}

.sub * {
    font-size: 10pt;
    top: 20px;
}

.sub {
    height: 40px;
    border-bottom: none;
    padding: 10px 20px;
    position: fixed;
    z-index: 1;
    background-color: white;
    outline: 2px solid var(--main-color);
}


